<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>634890930528-ici3hirsrs9g1c93t72ljm6pvvrg1nui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634890930528-ici3hirsrs9g1c93t72ljm6pvvrg1nui</string>
	<key>API_KEY</key>
	<string>AIzaSyAert_zqpxum4RsR6XhFO7I4Bm0r0iOWlg</string>
	<key>GCM_SENDER_ID</key>
	<string>634890930528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.sogang.20131585.Lee.FirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-example-470d4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-470d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634890930528:ios:3e3da4721cf5ca4d</string>
	<key>DATABASE_URL</key>
	<string>https://fir-example-470d4.firebaseio.com</string>
</dict>
</plist>